@model RegistrationViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-controller="Auth" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control">
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordAgain"></label>
        <input asp-for="PasswordAgain" class="form-control">
        <span asp-validation-for="PasswordAgain" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{ 
    <partial name="_ValidationScriptsPartial"/>
}