@model IEnumerable<AddViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@*<p>jskjkjasjkasjkajskajskajskajskajksjaksjaksjaksjkajskajskajsa</p>
    *@

<h1>Ibrahim Gelir Partial Viewdan</h1>
    <h1>@ViewData["index"]</h1>

    @*<ul>
        @foreach (var item in Model)
        {
            <li>@item.Person.FirstName</li>
            <li>@item.Student.Age</li>

        }
    </ul>*@