
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1 style="color:red">Error!!!----@ViewBag.Url</h1>
</body>
</html>
