
    <form action="/Event/SubmitForm" method="post">
        <p>
            <label>FirstName</label>
            <input type="text" name="model.FirstName" id="model.FirstName" />
        </p>
        <p>
            <label>Surname</label>
            <input type="text" name="model.Surname" id="model.Surname" />
        </p>
        <p>
            <select name="model.IsComming" id="model.IsComming">
                <option value="true">Gelirem</option>
                <option value="false">Gelmirem</option>
            </select>
        </p>
        <p>
            <button type="submit">Apply</button>
        </p>
    </form>

