@model IEnumerable<ToDo>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<ul>
    @foreach (var item in Model)
    {
        <li>@item.Title</li>

    }
</ul>


